.NavBarButton {
    width: 100px;
    padding: 10px;
    border: 1px solid rgb(200, 200, 200);
    border-radius: 3px;
    margin: 5px;
    text-align: center;
    color: rgb(200, 200, 200);
    text-decoration: none;
}

.Active {
    color: rgb(255, 100, 125);
    border: 2px solid rgb(255, 100, 125);
}

.Test {
    border: white 1px solid;
}

.NavBarContainer {
    margin: 10px;
/*    border: 1px solid rgb(50, 50, 50);*/
    border: 1px solid white;
    background-color: rgb(30, 30, 30);
    padding: 10px;
    border-radius: 5px;
}