.Test {
    border: 1px solid #000000;
    margin: 3px;
    background-color: red;
}

.NavBarIsland {
    border: 1px solid #000000;
    border-radius: 3px;
    padding: 10px;
    align-items: left;
}

.NavBarGroup {
    width: 100%;
}

.NavBarButton {
    width: 100px;
    border: 1px solid black;
    border-radius: 3px;
    margin: 5px;
    text-align: center;
}
