.NavBarIsland {
    border: 1px solid rgb(50, 50, 50);
    background-color: rgb(30, 30, 30);
    border-radius: 5px;
    padding: 10px;
    align-items: left;
}

.NavBarGroup {
    width: 100%;
}

.NavBarButton {
    width: 100px;
    padding: 10px;
    border: 1px solid rgb(200, 200, 200);
    border-radius: 3px;
    margin: 5px;
    text-align: center;
    color: rgb(200, 200, 200);
    text-decoration: none;
}

.Active {
    color: rgb(255, 100, 125);
    border: 2px solid rgb(255, 100, 125);
}
