.PilotPostMainLand {
    display: flex;
    margin-top: 10px;
    text-align: center;
    text-decoration: none;
}

.Image {
    max-width: 100px;
    max-height: auto;
    border-radius: 3px;
}

.Name {
    width: 100%;
    text-decoration: none;
    padding-top: 25px;
    font-size: 30px;
}

a {
    text-decoration: none;
}
