p {
    margin: 0px;
}

.Button {
    border: 2px solid #7f7f7f;
    border-radius: 3px;
    background-color: #ffffff;
    margin-top: 10px;
    height: 40px;
}

.Button:hover {
    border: 2px solid rgb(255, 80, 100);
    color: rgb(255, 80, 100);
}

.Button:active {
    background-color: rgb(255, 80, 100);
}

.AuthenticationIsland {
    border: 1px solid #000000;
    border-radius: 5px;
    width: 500px;
    align-items: center;
    margin: auto;
    padding: 20px;
}

.SignInDiv {
    display: flex;
}

.SignUpParagraph {
    padding-top: 8px;
    padding-left: 10px;
    margin-top: 10px;
    height: 40px;
}

.Anchor {
    text-decoration: underline;
    color: rgb(255, 80, 100);
}